%orderedlist{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext), :numeration=>(attr :style)}
  - if title?
    %title=title
  - items.each do |item|
    %listitem
      %simpara=item.text
      - if item.blocks?
        =item.content
