- if title?
  %example{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}
    - if title?
      %title=title
    - if blocks?
      =content
    - else
      %simpara=content.chomp
- else
  %informalexample{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}
    - if blocks?
      =content
    - else
      %simpara=content.chomp
