- if title?
  %formalpara{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}
    %title=title
    %para=content
- else
  %simpara{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}=content
