- if attr? :style, 'bibliography'
  %bibliodiv{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}
    - if title?
      %title=title
    - items.each do |item|
      %bibliomixed
        %bibliomisc=item.text
        - if item.blocks?
          =item.content
- else
  %itemizedlist{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}
    - if title?
      %title=title
    - items.each do |item|
      %listitem
        %simpara=item.text
        - if item.blocks?
          =item.content
