%blockquote{:id=>@id, :role=>(attr :role), :xreflabel=>(attr :reftext)}
  - if title?
    %title=title
  - if (attr? :attribution) || (attr? :citetitle)
    %attribution
      - if attr? :attribution
        =attr :attribution
      - if attr? :citetitle
        %citetitle=attr :citetitle
  %literallayout=content
