%div{:id=>@id, :class=>['audioblock', (attr :style, nil, false), (attr :role)]}
  - if title?
    .title="#{@caption}#{title}"
  .content
    %audio{:src=>media_uri(attr :target), :autoplay=>(attr? 'autoplay-option'),
        :controls=>!(attr? 'nocontrols-option'), :loop=>(attr? 'loop-option')}
      Your browser does not support the audio tag.
