-# Haml automatically preserves whitespace in <pre> tags by replacing newlines with &#x000A;, but I'm not sure about the <code> tag
%div{:id=>@id, :class=>['listingblock', role]}
  - if title?
    .title=captioned_title
  .content
    - if @style == 'source'
      - language = attr :language
      - language_classes = language ? [language, "language-#{language}"] : []
      - pre_classes = ['highlight']
      - pre_lang = nil
      - code_classes = language_classes
      - case attr 'source-highlighter'
      - when 'coderay'
        - pre_classes = ['CodeRay']
      - when 'highlightjs', 'highlight.js'
      - when 'prettify'
        - pre_classes = ['prettyprint']
        - pre_classes << 'linenums' if attr? :linenums
        - code_classes = []
      - when 'html-pipeline'
        - pre_lang = language
        - pre_classes = code_classes = []
      - pre_classes << 'nowrap' if !(@document.attr? 'prewrap') || (option? 'nowrap')
      %pre{:class=>pre_classes, :lang=>pre_lang}
        %code{:class=>code_classes}~content
    - else
      %pre{:class=>(!(@document.attr? 'prewrap') || (option? 'nowrap') ? ['nowrap'] : [])}=content
