%div{:id=>@id, :class=>['admonitionblock', (attr :name), (attr :role)]}
  %table
    %tr
      %td.icon
        - if attr? :icons, 'font'
          %i{:class=>"icon-#{attr :name}"}
        - elsif attr? :icons
          %img{:src=>icon_uri(attr :name), :alt=>@caption}
        - else
          .title=@caption
      %td.content
        - if title?
          .title=title
        =content.chomp
