%div{:id=>@id, :class=>['colist', @style, role]}
  - if title?
    .title=title
  - if @document.attr? :icons
    %table
      - items.each_with_index do |item, i|
        %tr
          %td<
            - if @document.attr? :icons, 'font'
              %i.conum=i + 1
            - else
              %img{:src=>icon_uri("callouts/#{i + 1}"), :alt=>(i + 1)}
          %td=item.text
  - else
    %ol
      - items.each do |item|
        %li
          %p=item.text
