%div{:id=>@id, :class=>['literalblock', (attr :role)]}
  - if title?
    .title=title
  .content.monospaced
    %pre{:class=>(!(@document.attr? 'prewrap') || (option? 'nowrap') ? ['nowrap'] : [])}=content
