<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="paragraph<%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{title}</div>) : nil %>
<p><%= content %></p>
</div>
