<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="exampleblock<%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{@caption}#{title}</div>) : nil %>
<div class="content">
<%= content.chomp %>
</div>
</div>
