- if attr? :pagebreak
  %div(style="page-break-after:always")
%div{:id=>id, :class=>['imageblock', (attr :role), ("slide" if attr :incremental )]}
  .content
    - if attr? :link
      %a.image{:href=>(attr :link)}
        %img{:src=>(attr :target), :alt=>(attr :alt), :width=>(attr :width), :height=>(attr :height)}
    - else
      %img{:src=>(attr :target), :alt=>(attr :alt), :width=>(attr :width), :height=>(attr :height)}
  - if title
    .title=title
