%div{:id=>id, :class=>['admonitionblock', (attr :role), ("slide" if attr :incremental )]}
  %table
    %tr
      %td.icon
        -# if icons are enabled, an icon would go here
        - if attr? :caption
          .title=attr :caption
      %td
        - if title
          .title=title
        =content
