%div{:id=>id, :class=>['videoblock', (attr :role), ('slide' if attr? 'step-option')]}
  %iframe{:width=>(attr: width), :height=>(attr :height), src=>(attr :target), frameborder=>(attr :frameborder), allowfullscreen}
