%div{:id=>@id, :class=>['ulist', (attr :style), (attr :role)]}
  - if title?
    .title=title
  %ul
    - content.each do |item|
      %li{:class => ("slide" if attr :incremental)}
        %p=item.text
        - if item.blocks?
          =item.content.chomp