%div{:id=>@id, :class=>['ulist', (attr :style), (attr :role)]}
  - if title?
    .title=title
  %ul
    - content.each do |item|
      %li{:class=>('slide' if attr? 'step-option')}<
        - if item.blocks?
          %p=item.text
          =item.content.chomp
        - else
          =item.text
