- case attr :style
- when 'qanda'
  %div{:id=>@id, :class=>['qlist', (attr :style), (attr :role)]}
    - if title?
      .title=title
    %ol
      - content.each do |q, a|
        %li
          %p<
            %em=q.text
          - unless a.nil?
            - if a.text?
              %p<=a.text
            - if a.blocks?
              =a.content.chomp
- when 'horizontal'
  %div{:id=>@id, :class=>['hdlist', (attr :role)]}
    - if title?
      .title=title
    %table
      %colgroup
        %col{:style=>("width: #{attr :labelwidth}%;" if (attr? :labelwidth))}
        %col{:style=>("width: #{attr :itemwidth}%;" if (attr? :itemwidth))}
      - content.each do |dt, dd|
        %tr
          %td{:class=>['hdlist1', ('strong' if (attr? 'strong-option'))]}
            =dt.text
            %br
          %td.hdlist2
            - unless dd.nil?
              - if dd.text?
                %p(style="margin-top: 0")<=dd.text
              - if dd.blocks?
                =dd.content.chomp
- else
  %div{:id=>@id, :class=>['dlist', (attr :style), (attr :role)]}
    - if title?
      .title=title
    %dl
      - content.each do |dt, dd|
        %dt{:class=>('hdlist1' if !(attr? :style))}<
          =dt.text
        - unless dd.nil?
          %dd
            - if dd.text?
              %p<=dd.text
            - if dd.blocks?
              =dd.content.chomp