- if type == 'emphasis'
  %em=content
- elsif type == 'strong'
  %strong=content
- elsif type == 'literal'
  %tt=content
- elsif type == 'superscript'
  %sup=content
- elsif type == 'subscript'
  %sub=content
- else
  =content
