!!! 5
%html(lang='en')
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %meta(name='generator' content="Asciidoctor #{attr :asciidoctor_version}")
    %title="#{title ? title : doctitle}"
    %link(rel="stylesheet" href="asciidoc.css" type="text/css")
  %body{:class=>attr(:doctype)}
    -# asciidoc does leave in an empty header div even if there's no doctitle
    #header
      - if !notitle and doctitle
        %h1=doctitle
        - if defined?(author)
          %span#author=author
          %br
    #content
      =content
    -##footnotes<
    -#  %hr
    #footer
      #footer-text
        Lasted updated #{attr :localdatetime}
