!!! 5
%html
  %head
    %title=doctitle
    %meta(http-equiv='Content-Type' content="text/html; charset=#{attr :encoding}")
    %meta(name='generator' content="Asciidoctor #{attr 'asciidoctor-version'}")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    %link(rel='stylesheet' href='reveal.js/css/reveal.min.css')
    - if attr? :revealjs_theme
      %link(rel='stylesheet' href='reveal.js/css/theme/#{attr :revealjs_theme}.css' id='theme')
    - else
      %link(rel='stylesheet' href='reveal.js/css/theme/default.css' id='theme')
    %link(rel='stylesheet' href='css/zenburn.css')
    - if attr? :description
      %meta(name='description'){:content=>(attr :description)}
    - if attr? :keywords
      %meta(name='keywords'){:content=>(attr :keywords)}
    - if attr? :author
      %meta(name='author'){:content=>(attr :author)}

  %body{:id=>@id, :class=>['reveal-container',(attr :doctype)]}
    .reveal
      .slides
        =content
    %script(src='lib/js/head.min.js')
    %script(src='reveal.js/js/reveal.min.js')
    :javascript
      Reveal.initialize({
        // Display controls in the bottom right corner
        controls: true,
        // Display a presentation progress bar
        progress: true,
        // Push each slide change to the browser history
        history: false,
        // Enable keyboard shortcuts for navigation
        keyboard: true,
        // Enable the slide overview mode
        overview: true,
        // Vertical centering of slides
        center: true,
        // Loop the presentation
        loop: false,
        // Change the presentation direction to be RTL
        rtl: false,
        // Number of milliseconds between automatically proceeding to the
        // next slide, disabled when set to 0, this value can be overwritten
        // by using a data-autoslide attribute on your slides
        autoSlide: 0,
        // Enable slide navigation via mouse wheel
        mouseWheel: false,
        // Apply a 3D roll to links on hover
        rollingLinks: true,
        // Transition style
        transition: 'default', // default/cube/page/concave/zoom/linear/fade/none
        // Transition speed
        transitionSpeed: 'default', // default/fast/slow
        // Transition style for full page backgrounds
        backgroundTransition: 'default' // default/linear
        });
